@font-face {
  font-family: "Salsa";
  src: url("/fonts/salsa/Salsa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;

  padding: 80px;
  margin: 2 auto; /* centers the header itself horizontally if needed */
  color: black;

  background-color: whitesmoke;

  /* Flexbox for centering content inside the header */
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
}
.navbar {
  background-color: #16f5b7;
  color: black;
}
.margin {
  margin: 10px;
}

.grid {
  display: flex;

  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
}

.gridCard {
  text-align: center;
  padding: 2px;
  width: 250px;
  height: 300px;
}
.courseButton {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.courseButtonContainer {
  display: flex;

  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
}

.aboutParagraphs {
  width: 100%;
  padding: 80px;
  margin: 0 auto; /* centers the header itself horizontally if needed */
  color: blue;
  background-color: aqua;

  /* Flexbox for centering content inside the header */
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */

  border: solid 1px black;
}
.aboutHeader {
  width: 100%;
  padding: 50px 180px;
  margin: 0 auto; /* centers the header itself horizontally if needed */
  color: blue;
  background-color: aqua;

  /* Flexbox for centering content inside the header */
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
}

.contact-info {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.contact-info h2 {
  font-size: 1.5em;
}
.contact-info p {
  font-size: 1em;
  line-height: 1.5;
}

.container {
  position: relative;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.homeContainer {
  position: relative;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.addMealPage {
  width: 100%;

  padding: 80px;
  margin: 2 auto;
  color: black;

  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  transition: opacity 0.5s ease-out; /* Smooth transition for fade */
}
.videoWrapper {
}

.fadeOut {
  opacity: 0; /* Fades the video out */
}
.content {
  font-family: "Salsa", sans-serif;
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 0px #16f5b7, -1px -1px 0px #16f5b7, 1px -1px 0px #16f5b7,
    -1px 1px 0px #16f5b7;
  text-align: center;
  padding: 30px 20px; /* Ensure some spacing from the top */
  height: 100vh;
}

.transcript {
  display: none;
}

.cvText {
  text-align: left;
  padding: 20px 100px;
  margin-left: 50px;
}
.aboutContainer {
  margin: 0;
  padding: 0;
  color: white;
  background-color: grey;
  height: fit-content;
}
.main {
  margin: 0;
  padding: 0;
}

.becomeHostSection {
  background-color: #16f5b7;
  text-align: center;
  margin: 0 0 4px 0;
  padding: 0;
  width: 100%;
}
.becomeHostSectionForm {
  width: 500px;
  padding: 3%;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 3px;
  position: absolute;
  top: 40px;
  right: 2px;
  margin: 2px;
}

.mediaBox {
  position: relative;
  margin: 5px auto;
  padding: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2;

  width: 100%;
  height: 200;
}
.mediaVideos {
  border: none;
  border-radius: 8px;
}
.imagesContainers {
}

.word {
  transition: transform 0.5s ease-in-out;
}

.active {
  transform: scale(1.5);
}
.homeTextFrontContainer {
  margin-top: 50px;
  font-size: 3rem; /* Base font size for the container */
  font-family: "Salsa", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem; /* Space between the words */
}
.title {
  font-family: "Salsa", sans-serif;
}

.map {
  width: 50%;
  height: 800px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 16px;
  min-width: 0;
  padding: 1px;
  color: grey;
  font-size: 20px;
}
.loadingState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px); /* Optional: Adds a slight upward movement */
  }
}

.modal {
  transition: opacity 0.4s ease, transform 0.4s ease; /* Smooth transitions */
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  animation: fadeOut 0.4s forwards; /* Applies fade-out animation */
}

@media screen and (max-width: 430px) {
  .header {
    padding: 10px;
    height: 100vh;
  }
  .addMealPage {
    margin: 4px auto;
  }
  .addMealPageItems {
    padding: 10px;
  }
  .backgroundVideo {
    width: 100vw;
    height: 500px;
  }
  .container {
    height: fit-content;
  }
  .homeContainer {
    height: 100vh;
  }
  .content {
    position: relative;
    z-index: 1;
    color: white;

    padding: 10px 20px; /* Ensure some spacing from the top */
    height: 80vh;
  }
  .imagesContainers {
    width: 50vw;
  }
  .becomeHostSection {
    display: block;
  }

  .becomeHostFormContainer {
  }
  .becomeHostSectionForm {
    width: 100%;
    margin-bottom: 10%;
    position: relative;
  }
  .map {
    width: 100vw;
    height: auto;
  }
  .stylingPics {
    width: 100%;
    height: auto;
  }

  .mediaBox {
    position: relative;
    margin: 5px auto;
    padding: 70px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2;

    width: 100%;
    height: 200;
  }
  .mediaVideos {
    border: none;
    border-radius: 8px;
  }

  .cvText {
    text-align: left;
    padding: 10px 25px;
    margin-left: 26px;
  }
  .header {
    margin: 2px;

    padding: 10px;
  }
  .title {
    font-size: medium;
  }
  .aboutAddWhenResponsive {
    width: 100%;

    margin: 2 auto; /* centers the header itself horizontally if needed */
    color: black;

    background-color: whitesmoke;

    /* Flexbox for centering content inside the header */
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: center; /* center items horizontally */
    justify-content: center; /* center items vertically */
  }

  .homeTextFrontContainer {
    margin-top: 100px;
    font-size: 2rem; /* Base font size for the container */
    gap: 1rem; /* Space between the words */
    display: grid;
  }

  .word {
  }
  .gridCard {
  }
}
